
huggingface-hub==0.28.1
matplotlib
numpy==2.2.0
openai==1.58.1
pandas==2.2.3
pillow==11.1.0
python-dotenv==1.0.1
requests==2.32.3
tokenizers==0.21.0
torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0
tqdm==4.67.1
transformers==4.49.0
streamlit
opencv-python

